[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/yaml-cpp"]
	path = submodules/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "submodules/netcdf-cxx4"]
	path = submodules/netcdf-cxx4
	url = https://github.com/Unidata/netcdf-cxx4.git
